
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        h1 {
            font-size: 24px;
        }
        form {
            display: none;
            margin-top: 15px;
            border: 1px solid #ccc;
            padding: 15px;
            border-radius: 10px;
        }
        input, select {
            display: block;
            margin: 8px 0;
            padding: 6px;
            width: 100%;
            max-width: 300px;
        }
        button {
            margin-top: 10px;
        }
        table {
            border-collapse: collapse;
            margin-top: 20px;
            width: 100%;
        }
        th, td {
            border: 1px solid #ccc;
         ''    padding: 8px;
            text-align: left;
        }
        th {
            background-color: #eee;
        }
        .acciones button {
            margin-right: 5px;
        }
