<h1>Cliente</h1>

<button id="btnAgregar" >Agregar Cliente</button>

<form id="formCliente" method="POST" style="display: none;" >
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" id="modo" name="modo">
    <button type="submit">Guardar</button>
    <button type="button" id="cancelar">Cancelar</button>
</form>

<hr>

<label for="filtro">Filtro:</label>
<input type="text" id="filtro" placeholder="Buscar por nombre o DNI">
<button id="btnFiltrar">🔍</button>

<table id="tablaClientes">
    <thead>
        <tr>
            <th>ID</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for c in clientes %}
        <tr>
            <td>{{ c.0 }}</td>
            <td>{{ c.1}}</td>
            <td>{{ c.2}}</td>
            <td>{{ c.3}}</td>
            <td>{{ c.4 }}</td>
            <td>{{ c.5 }}</td>
            <td>
                <button onclick="editarCliente({{ c.0 }})">✏️</button>
                <a href="/cliente/eliminar/{{ c.1 }}">🗑️</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
