{% extends "./base.html" %}
{% load static %}
{% block body %}

<h1>Fichas tecnicas</h1>
<link rel="stylesheet" href="{% static 'styles.css' %}">
<style>
    #tablaClientes th, #tablaClientes td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
    }
    #tablaClientes th {
        background-color: #333333;
        color: white;
    }
    label {
        margin-right: 10px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-indent: initial;
        letter-spacing: 1px;
        text-decoration: underline;
    }
    h1 {
        color: white !important;
        margin-bottom: 20px;
        font-family: Arial, sans-serif;
    }
</style>
<table id="tablaClientes">
    <thead>
        <tr>
            <th>id</th>
            <th>matricula</th>
            <th>nro de empleados</th>
            <th>subtotal</th>
            <th>mano de obra</th>
            <th>total</th>
        </tr>
    </thead>
    <tbody>
        {% for c in Ficha_Tecnicas %}
        <tr>
            <td>{{ c.0 }}</td>
            <td>{{ c.1}}</td>
            <td>{{ c.2}}</td>
            <td>{{ c.3 }}</td>
            <td>{{ c.4}}</td>
            <td>{{ c.5}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
