{% extends "./base.html" %}
{% load static %}
{% block body %}

<h1>Fichas tecnicas</h1>
<table id="tablaClientes">
    <thead>
        <tr>
            <th>id</th>
            <th>matricula</th>
            <th>nro de empleados</th>
            <th>subtotal</th>
            <th>mano de obra</th>
            <th>total</th>
        </tr>
    </thead>
    <tbody>
        {% for c in Ficha_Tecnicas %}
        <tr>
            <td>{{ c.0 }}</td>
            <td>{{ c.1}}</td>
            <td>{{ c.2}}</td>
            <td>{{ c.3 }}</td>
            <td>{{ c.4}}</td>
            <td>{{ c.5}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
