{% extends "./base.html" %}
{% load static %}
{% block body %}

<h1>Lista de Repuestos</h1>
<link rel="stylesheet" href="{% static 'styles.css' %}">
<style>
    #tablaRepuestos th, #tablaRepuestos td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
    }
    #tablaRepuestos th {
        background-color: #333333;
        color: white;
    }
    label {
        margin-right: 10px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-indent: initial;
        letter-spacing: 1px;
        text-decoration: underline;
    }
    h1 {
        color: white !important;
        margin-bottom: 20px;
        font-family: Arial, sans-serif;
    }
</style>
{% if user.is_authenticated %}
<button id="btnAgregar" 
    onclick="mostrarFormulario('agregar')">Agregar</button>
{% endif %}

<form id="formCliente" method="POST" style="display:none;">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" id="modo" name="modo" value="agregar">
    <input type="hidden" id="cliente_id" name="cliente_id">

    <button type="button" id="cancelar" onclick="cancelarFormulario()">Cancelar</button>
    <button type="submit" id="btnGuardar">Guardar</button>
</form>
<hr>


<hr>

<label for="filtro">Filtro:</label>
<input type="text" id="filtro" placeholder="nombre del repuesto">
<button id="btnFiltrar">🔍</button>

<table id="tablaRepuestos">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio por unidad</th>
            <th>Cantidad</th>
            {% if user.is_authenticated %}
            <th>Acciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for c in Repuestos %}
        <tr>
            <td>{{ c.0 }}</td>
            <td>{{ c.1 }}</td>
            <td>{{ c.2 }}</td>
            <td>
                {% if user.is_authenticated %}
                <button type="button" onclick="editarCliente('{{ c.0 }}', '{{ c.1 }}', '{{ c.2 }}')">✏️</button>
                <a href="/Repuesto/eliminar/{{ r.0 }}/">🗑️</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
document.getElementById('filtro').addEventListener('keyup', function () {
    const filtro = this.value.toLowerCase();
    const filas = document.querySelectorAll('#tablaClientes tbody tr');
    filas.forEach(fila => {
        const dni = fila.children[1].textContent.toLowerCase();
        const nombre = fila.children[2].textContent.toLowerCase();
        fila.style.display = (dni.includes(filtro) || nombre.includes(filtro)) ? '' : 'none';
    });
});

function mostrarFormulario(modo) {
    document.getElementById('modo').value = modo;
    document.getElementById('formCliente').style.display = 'block';
    document.getElementById('btnAgregar').style.display = 'none';
}

function cancelarFormulario() {
    document.getElementById('formCliente').reset();
    document.getElementById('modo').value = 'agregar';
    document.getElementById('cliente_id').value = '';
    document.getElementById('formCliente').style.display = 'none';
    document.getElementById('btnAgregar').style.display = 'block';
}

function editarCliente(nombre, precio_x_unidad, cantidad) {
    mostrarFormulario('editar');
    document.getElementById('cliente_id').value = nombre;

    document.querySelector('[name="nombre"]').value = nombre;
    document.querySelector('[name="precio_x_unidad"]').value = precio_x_unidad;
    document.querySelector('[name="cantidad"]').value = cantidad;

    document.getElementById('btnGuardar').textContent = 'Actualizar';
}
</script>
{% endblock %}