{% extends "./base.html" %}
{% load static %}
{% block body %}

<h1>Vehiculos de {{dueño}}</h1>

{% if user.is_authenticated %}
<button id="btnAgregar" 
    onclick="mostrarFormulario('agregar')">Agregar</button>
{% endif %}

<form id="formCliente" method="POST" style="display:none;">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" id="modo" name="modo" value="agregar">
    <input type="hidden" id="cliente_id" name="cliente_id">

    <button type="button" id="cancelar" onclick="cancelarFormulario()">Cancelar</button>
    <button type="submit" id="btnGuardar">Guardar</button>
</form>
<hr>


<hr>

<label for="filtro">Filtro:</label>
<input type="text" id="filtro" placeholder="matricula">
<button id="btnFiltrar">🔍</button>

<table id="tablaClientes">
    <thead>
        <tr>
            <th>matricula</th>
            <th>color</th>
            <th>modelo</th>
            {% if user.is_authenticated %}
            <th>Acciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for c in Vehiculos %}
        <tr>
            <td>{{ c.0 }}</td>
            <td>{{ c.1}}</td>
            <td>{{ c.2}}</td>
            
                {% if user.is_authenticated %}
                <td>
                <button onclick="editarCliente({{ c.0 }})">✏️</button>
                <a href="/vehiculo/{{ cliente_id }}/delete/{{ c.0 }}">🗑️</a>
                <a href="/Presupuesto/{{ c.0 }}">P</a>
            </td>
                {% endif %}
            
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
document.getElementById('filtro').addEventListener('keyup', function () {
    const filtro = this.value.toLowerCase();
    const filas = document.querySelectorAll('#tablaClientes tbody tr');
    filas.forEach(fila => {
        const dni = fila.children[1].textContent.toLowerCase();
        const nombre = fila.children[2].textContent.toLowerCase();
        fila.style.display = (dni.includes(filtro) || nombre.includes(filtro)) ? '' : 'none';
    });
});

function mostrarFormulario(modo) {
    document.getElementById('modo').value = modo;
    document.getElementById('formCliente').style.display = 'block';
    document.getElementById('btnAgregar').style.display = 'none';
}

function cancelarFormulario() {
    document.getElementById('formCliente').reset();
    document.getElementById('modo').value = 'agregar';
    document.getElementById('cliente_id').value = '';
    document.getElementById('formCliente').style.display = 'none';
    document.getElementById('btnAgregar').style.display = 'block';
}

function editarCliente(id, dni, nombre, apellido, telefono, direccion) {
    mostrarFormulario('editar');
    document.getElementById('cliente_id').value = id;

    document.querySelector('[name="dni"]').value = dni;
    document.querySelector('[name="nombre"]').value = nombre;
    document.querySelector('[name="apellido"]').value = apellido;
    document.querySelector('[name="telefono"]').value = telefono;
    document.querySelector('[name="direccion"]').value = direccion;

    document.getElementById('btnGuardar').textContent = 'Actualizar';
}
</script>
{% endblock %}
